/* globol */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;

}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}
img{
    max-width: 100%;
    height: auto;
}

/* conteiner */

.container{
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* main_content */
.main_content{
    flex-grow: 1;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #000;
    font-size: 50px;
    background: rgba(196, 165, 11, 0.5);
}
.box_static{
    position: static;
}

.box_relateive{
    position: relative;
}
.box_absolute{
    
    left: 50%;
    bottom: 50%;
    position: absolute;

}
.parent_static{
    position: relative;
}
.parent{
    height: 250px;
    border: 10px solid #000;
    background: rgba(255, 255, 0,0.8);
}
.child{
    position: absolute;
    width: 130px;
    height: 130px;
    background:rgba(0, 221, 255, 0.8) ;
}
.parent_text{
    font-size: 30px;
    line-height: 30px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    padding: 10px;
    font-size: 56px;
    text-align: center;
}
.dashed{
    margin-top: 100px;
    border: dashed  1px  red;
}